body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: azure;
}

#gamecontainer {

    display: flex;
    gap: 50px;
    padding: 50px;
}

#scoreboard {

    display: flex;
    width: 50vw;
    justify-content:center;
    gap: 20px;
}

#computerscore, #playerscore {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid azure;
    padding: 10px;
    width: 25%;
    height: 15%;
}

#p-scorespan, #c-scorespan {

    font-size: 25px;
    font-weight: 600;
}

#gameresult {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultp1, #resultp2 {

    font-size:larger;
}

#rock, #paper, #scissors, #restartbtn {

    width: 150px;
    height: 75px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
}

#rock {

    background-color: rgb(42, 42, 125);
}

#rock:hover, #paper:hover, #scissors:hover {
    background-color: black;
    color: #d2d3e5
}

#paper {

    background-color: white;
}

#scissors {

    background-color: rgb(125, 42, 42);
}

@media screen and (max-width: 480px)  
{
    body {
        display: block;
        text-align: center;
        width: 100%;
    }    

    #gamecontainer {
        display: block;
        padding: 10px;
    }

    #scoreboard {

        display: flex;
        justify-content:center;
        width: 100%;
        gap: 20px;
    }

    #p-scorespan, #c-scorespan {

        font-size: 20px;
        font-weight: 600;
    }

    #gameresult {

        display: block;
        text-align: center;
    }
}